// Custom variables
$home-bg-color: #000000;
$home-font-color: #ffffff;
$home-accent-color: rbg(220, 173, 46);

// Block: home
.home {
  background-color: $home-bg-color;
  color: $home-font-color;
  padding: 2rem;
}

// Element: title under home
.home__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

// Element: intro under home
.home__intro {
  font-size: 1rem;
  margin-bottom: 2rem;
}

// Block: button under home
.button {
  background-color: $home-accent-color;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin-right: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
