// Custom variables
$nav-bg-color: #000000;
$nav-font-color: rgb(255, 250, 88);
$nav-hover-color: #ffe100;

// Block: header
.header {
  max-width: 50vw;
  top: 0;
  left: 0;
  position: sticky;
  background-color: $nav-bg-color;
  color: $nav-font-color;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 0 1rem;
  padding: 1rem 0;
}

// Element: logo under header

// Block: nav
.nav {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-content: center;
  }

  &__item {
    font-size: 1rem;
    margin: 0 1rem;
    padding-right: 1rem;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    color: inherit;

    &:visited {
      color: inherit;
    }

    &:hover {
      color: $nav-hover-color;
    }
  }
}
